* {
	box-sizing: border-box;
}

header,
footer {
	height: 100px;
	border: 3px solid black;
	clear: both;
}

.row {
	width: 100%;
}

.row:nth-of-type(1) section {
	height: 300px;
	width: 33.3333%;
	border: 3px solid black;
	float: left;
}

.row:nth-of-type(2) section {
	height: 300px;
	width: 50%;
	border: 3px solid black;
	float: left;
}
