/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1,
h2 {
	text-align: center;
}
img {
	display: block;
	height: 300px;
	margin: 0 auto;
}
ul {
	width: 100px;
	height: 266px;
	border: 3px solid black;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}
li {
	width: 94px;
	height: 65px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple {
	background: rgba(241, 63, 247, 1);
}
#green {
	background: rgba(0, 253, 81, 1);
}
#blue {
	background: rgba(0, 254, 255);
}
#rainbow {
	background: red;
	background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
	background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
	background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
	background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
}

@keyframes morph {
	0% {
		background-color: red;
	}
	14% {
		background-color: orange;
	}
	28% {
		background-color: yellow;
	}
	62% {
		background-color: green;
	}
	72% {
		background-color: cyan;
	}
	86% {
		background-color: blue;
	}
	100% {
		background-color: violet;
	}
}
